<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
  </system.web>
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:siurxps.database.windows.net,1433;Initial Catalog=SiurXpsDatabase;Persist Security Info=False;User ID=siur;Password=Leydemaxwell72!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" /> <!-- 100 MB -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
